.drpdwntext{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:burlywood ;
    font-family: emoji;
    font-size: 22px;
}
.Recipecardcontainer{
    background-color: aliceblue;
   padding: 24px;
    display: flex;
     align-self: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 60px ;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: inset 0 0 3px #000000;
    row-gap: 8px;
    background-image: linear-gradient(#cb3563,#bd3f32);

}
  
.imagesec{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.textsec{
    display: flex;
    justify-content: center;
    color: cornsilk;
}
.instrsec p{
    color: gold;
}
.ingredients{
    list-style: circle;
}
.ingredients li{
    color: gold;
} 