.box{
    text-align: left;
    width: 400px;
}
.selectbox{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 500;
    padding: 4px;
    row-gap: 4px;
}
.pwdlbl{
    font-family: sans-serif;
    font-weight: 700;
    display: block;
    cursor: pointer;
    
}
.pwdinput{
    width: 100%;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px;
    
}
h3{
    text-align: center;
    color: deepskyblue;
    margin-bottom: 18px;
    text-transform: uppercase;
}
.Generatebtn{
    width: 200px;
    height: 34px;
    background-color: deepskyblue;
    color: white;
    border-radius: 4px;
    padding: 4px;
    border-color: deepskyblue;
    font-size: 14px;

}
.copybtn{
    color: white;
    background-color: green;
    border-radius: 4px;
    padding: 5px;
    border: none;
}
*{
    margin-bottom:10px;
}
.selectbox input{
    margin-right: 10px;
}